
mixin header(message)
  h1.ui.header
    i.lab.icon
    .content #{message}
  .ui.divider

mixin music-selector()
  label(for='music') #{ja ? 'おすすめ楽曲から選ぶ:' : 'Our recommendations:'}
  - for (var i = 0; i < songs.length; i ++) {
  - var song = songs[i];
  .field: .ui.radio.checkbox
    input.hidden(type='radio', name='music', tabindex='0', value=song.url, checked=(i === 0 ? 'checked' : undefined))
    label #{song.title} / #{song.artist} (
      - if (song.type === "MP3") {
      span(data-href=song.url) #{song.type}
      - } else {
      a(href=song.url, target='_blank') #{song.type}
      - }
      | )
  - }

mixin music-searcher
  label(for='music-search') #{ja ? '楽曲を探す:' : 'Look for your favorite song:'}
  form.ui.action.input
    input(type='text', placeholder=ja ? '曲名, アーティスト名, URLなど' : 'Song name, artist name, URL, etc.', name='music-search')
    button.ui.button #{ja ? '検索' : 'Search'}

mixin body
  section#input: .ui.segment
    h2.ui.dividing.header
      i.music.icon
      .content #{ja ? '音楽の選択' : 'Choose your song'}
        .sub.header #{ja ? 'Songleに登録されている111万曲以上から選択' : 'Over a million and a hundred thousand of songs are available'}
    .ui.form
      .ui.stackable.grid
        .eight.wide.column
          .grouped.fields#music-selector: +music-selector()
        .eight.wide.column
          .field#music-searcher: +music-searcher()
          .ui.warning.message
            .header #{ja ? '検索結果が見つかりませんでした。' : 'Your search query returned zero result.'}
      .ui.center.aligned.basic.segment#start
        button.ui.huge.primary.button
          i.video.play.icon
          | #{ja ? '再生する' : 'Play music'}
  .ui.hidden.divider
  section#output: .ui.segment
    h2.ui.dividing.header
      i.film.icon
      .content #{ja ? '歌詞アニメーション' : 'Lyrics animation'}
        .sub.header #{ja ? 'TextAliveが歌詞アニメーションを自動生成' : 'Kinetic typography videos are automatically synthesized using TextAlive'}
    .ui.hidden.warning.lyrics.message
      .header
      p #{ja ? 'この曲に歌詞をつけるには' : 'Please visit '}
        a(href='http://textalive.jp') TextAlive
        | #{ja ? '本サイトにアクセスしてください。' : ' to provide a lyrics URL.'}
    #player-root

mixin footer
  .ui.divider
  footer.ui.horizontal.divided.list
    .item &copy; <a href="https://junkato.jp/ja">Jun Kato</a>
    .item 2018

doctype html
html(lang='ja')
  head
    title #{package.description}
    link(rel='stylesheet', href='semantic/semantic.min.css')
  body
    .ui.dimmer
      .ui.text.loader #{ja ? '読み込み中…' : 'Loading'}
    .ui.container
      .ui.basic.segment: +header(package.description)
      +body()
      .ui.basic.center.aligned.segment: +footer()
    script(src='javascripts/jquery-3.3.1.min.js')
    script(src='semantic/semantic.min.js')
    script(src=`http://${taDomain}/javascripts/require.js`)
    script(src='javascripts/main.js')
    script.
      require(['main']);
    script(src=`http://${taDomain}/javascripts/api/embed-v1.js`)
